/* CODE FOR ACCESSIBLE SKIP LINK – DO NOT DELETE */

header {
  background-color: #85B477;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99999;
}
header a{
  color: #fff;
  font-family: Poppins, sans-serif;
  font-weight: bold;
  font-size: 27px;
  text-align: center;
  padding: 1rem;
}
header h1{
  color: #fff;
  font-family: Poppins, sans-serif;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}
header a:hover{
  color: black;
}





#main-menu {
  background-color: #85B477;
}
#main-menu a{
  text-align: left;
  font-family: Poppins, sans-serif; 
  font-size: 20pt;
  font-weight: bold;
  color: #FDFDFD;;
  padding-top: 2rem;
}
#main-menu img{
  width: 27px;
  height: 27px;
}
.menu{
  width: 27px;
  height: 27px;
}





.card {
background-color: #568149;
}
.offer h1{
  padding-bottom: 1rem;
  text-align: center;
  font-family: Poppins, sans-serif;
  font-weight: bold;
}
.cardtext{
  text-align: center;
  color: #fff;
}
.cardtext h2{
  font-size: 25px;
  font-weight: bold;
  font-family: Poppins, sans-serif;
  margin-bottom: 0;
}
.cardtext p {
  font-family: Poppins, sans-serif;
  font-size: 15px;
  padding-right: .7rem;
  padding-left: .7rem;
  margin-bottom: 1;
}



.rooms {
  padding-bottom: 4rem;
  padding-top: 4rem;
}
.rooms .cell {
  margin-bottom: 1rem;
}
.rooms h1{
  padding-left: 1rem;
  font-family: Poppins, sans-serif;
  font-weight: bold;
  text-align: center;
}
.container{
  position: relative;
  width: 100%;
  margin: auto;
}
.image{
  display: block;
  width: auto;
  height: auto;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #568149;
}
.container:hover .overlay {
  opacity: 1;
}
.text {
  color: white;
  font-size: 36px;
  font-family: poppins, sans-serif;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}




.learnmore{
  padding-top: 2rem;
  background-color: #568149;
}
.learnmore h1{
  font-weight: bold;
  text-align: center;
  font-family: poppins, sans-serif;
  color: #fff;
}
.learnmore h3{
  font-family: poppins, sans-serif;
  text-align: center;
  font-size: 15pt;
  padding-bottom: 2rem;
  color: #fff;
}
.learnmore h2{
  font-family: poppins, sans-serif;
  font-size:18px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0;
  color: #fff;
}
.learnmore p{
  font-family: poppins, sans-serif;
  font-size: 14px;
  text-align: center;
  margin-top: 0;
  color: #fff;
}
.learnmore img {
  width:  80%;
  display: block;
  margin: 0 auto 1rem auto;
}




.reservations{
  padding-top: 2rem;
}
.reservations h1{
  font-family: poppins, sans-serif;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0;
}
.reservations h2{
  font-family: poppins, sans-serif;
  font-size:23px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0;
}
.reservations h3{
  font-family: poppins, sans-serif;
  text-align: center;
  font-size: 15pt;
  padding-bottom: 2rem;
}
.table {
  font-family: poppins, sans-serif;
}
th {
  font-family: poppins, sans-serif;
  font-weight: bold;
}
#check {
  background-color: #568149;
}



footer{
  padding-left: 2rem;
  padding-top: 1rem;
  background-color:#85B477;
  font-family: poppins, sans-serif;
  font-size: 24px;
}
footer p{
  color: #fff;
}
footer img{
  margin-top: 5rem;
  width: 30px;
  height: 30px;
}
footer h2{
  color: #fff;
}



.skip-link {
  position: absolute;
  color: #fff;
  text-decoration: none;
  z-index: 10;
  transform: translateY(-100%);
  transition: transform .3s ease-out;
}
.skip-link:focus {
  transform: translateY(0);
}
@media print {
  .skip-link {
    display: none;
  }
}